---
import "@fontsource/inter/variable.css";
import Events from "../../components/events.astro";
import About from "../../components/about.astro";
import Footer from "../../components/footer.astro";
import Header from "../../components/header.astro";
import Intro from "../../components/intro.astro";
import Affiliates from "../../components/affiliates.astro";
import Contact from "../../components/contact.astro";
import "../../styles/index.css";

const { generator, site } = Astro;
const image = new URL("misaelLogoWithText.png", site);
const description =
  "Misael Project; one-stop solution to support local creations and community development";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/misaelLogo.png" type="image/png" />
    <meta name="generator" content={generator} />

    <title>Misael Project</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Misael Project" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersLight = window.matchMedia(
          "(prefers-color-scheme: light)"
        ).matches;
        document.documentElement.dataset.theme = prefersLight ? "light" : "dark";
      }

      window
        .matchMedia("(prefers-color-scheme: light)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "light"
              : "dark";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <div class="space-y-24 py-32">
      <Intro />
      <About />
      <Events />
      <!-- <Affiliates /> -->
      <Contact />
    </div>
    <Footer />
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyAZ_BL8Nf2KGephRdk5Ll7Pi3uC1qxJZXY",
        authDomain: "misael-project.firebaseapp.com",
        projectId: "misael-project",
        storageBucket: "misael-project.appspot.com",
        messagingSenderId: "197841362101",
        appId: "1:197841362101:web:bf381000c962b2960af2fc",
        measurementId: "G-6KEMLSRQEV"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
  </body>
</html>

