---
import misaelLogoWithText from "~/assets/misaelLogoWithText.png"

const { img, title, link } = Astro.props;
---

<a href={link}>
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <a href={link}>
        <div class="w-20 h-20">
          <img class="rounded-t-lg" src={img} alt="" />
        </div>
    </a>
    <div class="p-5">
        <a href={link}>
            <h5 class="mb-2 text-l font-bold tracking-tight text-red-900">{title}</h5>
        </a>
    </div>
  </div>
</a>
